@charset "UTF-8";
html, body, .c {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  background: radial-gradient(rgba(11, 35, 57, 0.001), rgba(0, 0, 0, 0.99)), linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0.05em, transparent 0.05em) calc(50vw - 0.025em) 0, linear-gradient(rgba(255, 255, 255, 0.4) 0.05em, transparent 0.05em) 0 calc(50vh - 0.025em), linear-gradient(90deg, rgba(192, 192, 192, 0.1) 0.1em, transparent 0.1em) calc(50vw - 0.05em) 0, linear-gradient(rgba(192, 192, 192, 0.1) 0.1em, transparent 0.1em) 0 calc(50vh - 0.05em) #0b2339;
  background-size: 100% 100%, 100% 100%, 100% 100%, 1em 1em, 1em 1em;
  font: 1em verdana, sans-serif;
}

.c {
  position: absolute;
  z-index: -1;
}

.controls {
  position: absolute;
  bottom: 100%;
  padding: 0 0.5em;
  background: #111;
  color: #eee;
  transition: 0.35s ease-out;
}
.controls--open {
  transform: translateY(100%);
}
.controls section {
  margin: 0.75em 0;
  padding: 0.5em;
  border-radius: 0.25em;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
}
.controls button, .controls input, .controls [type=radio] + label {
  cursor: pointer;
}
.controls button {
  border: none;
  font: 0.5em verdana, sans-serif;
  transition: 0.3s;
}
.controls button:hover {
  color: greenyellow;
  background: #333;
}
.controls input[type=range] {
  -webkit-appearance: none;
  display: block;
  margin: 0.5em 0 1em;
  padding: 0;
  width: 100%;
  height: 1.5em;
  background: grey;
}
.controls input[type=range][id=hue] {
  background: linear-gradient(90deg, hsl(0deg, 100%, 50%), hsl(10deg, 100%, 50%), hsl(20deg, 100%, 50%), hsl(30deg, 100%, 50%), hsl(40deg, 100%, 50%), hsl(50deg, 100%, 50%), hsl(60deg, 100%, 50%), hsl(70deg, 100%, 50%), hsl(80deg, 100%, 50%), hsl(90deg, 100%, 50%), hsl(100deg, 100%, 50%), hsl(110deg, 100%, 50%), hsl(120deg, 100%, 50%), hsl(130deg, 100%, 50%), hsl(140deg, 100%, 50%), hsl(150deg, 100%, 50%), hsl(160deg, 100%, 50%), hsl(170deg, 100%, 50%), hsl(180deg, 100%, 50%), hsl(190deg, 100%, 50%), hsl(200deg, 100%, 50%), hsl(210deg, 100%, 50%), hsl(220deg, 100%, 50%), hsl(230deg, 100%, 50%), hsl(240deg, 100%, 50%), hsl(250deg, 100%, 50%), hsl(260deg, 100%, 50%), hsl(270deg, 100%, 50%), hsl(280deg, 100%, 50%), hsl(290deg, 100%, 50%), hsl(300deg, 100%, 50%), hsl(310deg, 100%, 50%), hsl(320deg, 100%, 50%), hsl(330deg, 100%, 50%), hsl(340deg, 100%, 50%), hsl(350deg, 100%, 50%));
}
.controls input[type=range][id=hue]::-webkit-slider-runnable-track {
  background: transparent;
}
.controls input[type=range][id=hue]::-moz-range-track {
  background: transparent;
}
.controls input[type=range][id=hue]::-ms-track {
  background: transparent;
}
.controls input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 1.5em;
  background: transparent;
}
.controls input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.5em;
  height: 1.5em;
  box-shadow: 0 0 1px 1px #0b2339;
  background: whitesmoke;
  cursor: ew-resize;
}
.controls input[type=range]::-moz-range-track {
  height: 1.5em;
  background: transparent;
}
.controls input[type=range]::-moz-range-thumb {
  border-radius: 0;
  width: 0.5em;
  height: 1.5em;
  box-shadow: 0 0 1px 1px #0b2339;
  background: whitesmoke;
  cursor: ew-resize;
}
.controls input[type=range]::-ms-track {
  height: 1.5em;
  background: transparent;
  padding: 0;
  color: transparent;
}
.controls input[type=range]::-ms-thumb {
  width: 0.5em;
  height: 1.5em;
  box-shadow: 0 0 1px 1px #0b2339;
  background: whitesmoke;
  cursor: ew-resize;
}
.controls input[type=range]::-ms-fill-lower, .controls input[type=range]::-ms-fill-upper {
  background: transparent;
}
.controls input[type=range]::-ms-tooltip {
  display: none;
}
.controls input[type=range]:focus {
  outline: none;
}
.controls input[type=radio] {
  display: none;
}
.controls input[type=radio] + label {
  display: inline-block;
  color: lightsalmon;
}
.controls input[type=radio] + label:last-child {
  margin-right: 0.5em;
}
.controls input[type=radio] + label:before {
  display: inline-block;
  margin: 0 0.25em;
  transform: translateY(0.125em);
  font: 1.5em verdana sans-serif;
  content: "☒";
}
.controls input[type=radio]:checked + label {
  color: greenyellow;
}
.controls input[type=radio]:checked + label:before {
  content: "☑";
}
.controls input:checked + label {
  color: greenyellow;
}
.controls .controls__btns {
  text-align: center;
  box-shadow: none;
}
.controls [id=toggle] {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}/*# sourceMappingURL=stylee.css.map */